@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px; /* Kept for a soft, modern look */
  background: linear-gradient(180deg, #576cbc 0%, #132a53 100%); /* Gradient maintained for visual depth */
  box-shadow: 0 8px 24px rgba(4, 21, 45, 0.6); /* Adjusted shadow for subtlety and depth */
  padding: 20px; /* Unified padding for consistency */
  max-width: 345px; /* Maintained for card size consistency */
}

.image {
  margin-bottom: 20px; /* Adjusted for balanced spacing */
  border-radius: 5px; /* Added for consistent design language */
  overflow: hidden; /* Ensures the image respects the border radius */
}

.title {
  font-size: 28px; /* Adjusted for hierarchy and readability */
  font-weight: bold; /* Bold for emphasis */
  color: #ffffff; /* Ensured contrast for readability */
  margin-bottom: 10px; /* Added space to separate from the description */
}

.description {
  font-size: 18px; /* Adjusted for clarity and proportion */
  font-weight: 400; /* Regular for readability */
  color: #e1e1e1; /* Lightened for contrast and readability */
}

.skills {
  width: 100%;
  margin-top: 12px; /* Adjusted for visual rhythm */
  display: flex;
  flex-wrap: wrap; /* Maintained for responsiveness */
  gap: 8px; /* Slightly increased for visual separation */
  list-style: none; /* Removed bullets */
}

.skill {
  font-size: 16px; /* Adjusted for space efficiency and readability */
  font-weight: 500; /* Medium for slight emphasis */
  border-radius: 50px; /* Softened */
  background: var(--color-secondary); /* Assuming secondary color for variety */
  color: #ffffff; /* Ensured readability */
  padding: 5px 16px; /* Adjusted for content fit */
}

.links {
  width: 100%;
  margin-top: 20px; /* Adjusted for visual separation */
  display: flex;
  justify-content: space-around; /* Maintained for equal spacing */
}

.link {
  text-decoration: none;
  color: #ffffff; /* Ensured readability */
  font-size: 20px; /* Adjusted for hierarchy and accessibility */
  font-weight: 600; /* Semi-bold for emphasis */
  border-radius: 50px; /* Adjusted for consistency */
  background: var(--color-accent); /* Assuming accent color for differentiation */
  padding: 5px 20px; /* Adjusted for ergonomics */
}

/* Adding hover effects for interactivity */
.skill:hover, .link:hover {
  opacity: 0.8; /* Subtle feedback on hover */
  transform: scale(1.05); /* Slight increase to indicate interactivity */
  transition: all 0.3s ease; /* Smooth transition for hover effect */
}
